{{#each this}}
<li class="item">
    <article class="article">
		<div class="name">
			<h1 class="name-country">{{name}}</h1>
		</div>
		<div class="country-characteristics">
			<span class="capital">Capital : {{capital}}</span>
			<span class="population">Population : {{population}}</span>
			<div class="langs">
				<span class="lang-title">Language : </span>
				<ul class="lang-list">
					{{#each languages}} <li class="lang-item">{{this.name}}</li> {{/each}}
				</ul>
			</div>
		</div>
		<div class="img-flag">
			<img src="{{flag}}" alt="" width="300" height="250">
		</div>
	</article>
</li>
{{/each}}